USE [master]
GO
/****** Object:  Database [Module6.DataAccess.MovieContext]    Script Date: 4/28/2024 10:48:48 PM ******/
CREATE DATABASE [Module6.DataAccess.MovieContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Module6.DataAccess.MovieContext', FILENAME = N'C:\Users\91985\Module6.DataAccess.MovieContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Module6.DataAccess.MovieContext_log', FILENAME = N'C:\Users\91985\Module6.DataAccess.MovieContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Module6.DataAccess.MovieContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Module6.DataAccess.MovieContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/28/2024 10:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casts]    Script Date: 4/28/2024 10:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casts](
	[CastId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MovieId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Casts] PRIMARY KEY CLUSTERED 
(
	[CastId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 4/28/2024 10:48:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Genre] [int] NOT NULL,
	[ReleaseYear] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[Rating] [float] NOT NULL,
	[Director] [nvarchar](max) NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [Title], [Genre], [ReleaseYear], [Description], [Duration], [Rating], [Director], [IsAvailable]) VALUES (1, N'The Shawshank Redemption', 2, 1994, N'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.', 142, 9.3, N'Frank Darabont', 1)
INSERT [dbo].[Movies] ([MovieID], [Title], [Genre], [ReleaseYear], [Description], [Duration], [Rating], [Director], [IsAvailable]) VALUES (2, N'The Godfather', 2, 1972, N'The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.', 175, 9.2, N'Francis Ford Coppola', 1)
INSERT [dbo].[Movies] ([MovieID], [Title], [Genre], [ReleaseYear], [Description], [Duration], [Rating], [Director], [IsAvailable]) VALUES (3, N'The Dark Knight', 0, 2008, N'When the menace known as The Joker emerges from his mysterious past, he wreaks havoc and chaos on the people of Gotham.', 152, 9, N'Christopher Nolan', 1)
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
USE [master]
GO
